@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    width: 50%;
    margin: auto;
}

header {
    height: 40px;
    display: flex;
    margin-bottom: 5px  ;
}

header h1 {
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    align-self: flex-end;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    font-family: 'Ubuntu', sans-serif;
    padding: 7px 10px;
    border: solid 2px black;  
    margin-right: 10px;
    font-size: 13px;
}

.titulo {
    height: 30px;
    width: 80%;
    display: inline-flex;
    justify-content: center;
}

#contenedor {   
    display: flex;
    justify-content: center;
}

#contenedor ul {
    display: flex;
    width: 790px;
    flex-wrap: wrap;
}

#contenedor ul li {
    border: solid 2px black;
    width: 170px;
    margin: 10px;
    text-align: center;
    padding-bottom: 5px;
}
 
#contenedor ul li img {
    width: 130px; 
    height: 190px; 
} 

#contenedor ul li figcaption, p, h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 11px;
} 
 
footer {    
    display: flex; 
    justify-content: center;
}

footer div {
    border: solid 2px black;
    text-align: center;
    width: 850px;
    padding: 10px 0;
}

footer p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}